/* STYLE STYLING STLES */

a{
  text-decoration: none;
  color: white;
}


/* LAYOUT LAYOUTS */

header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-self: center;

  ul {
    list-style: none;
  }
}

.nav_img {
  margin-right: auto;
  margin-left: auto;
}

/* INDEX */

.categeories_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category {
  border-radius: 10px;
  background-color: black;
  p {
    padding-left: 10px;
  }
}

/* CATEGORY CATEGORIES KATOGI KATOGIRIER*/

.productlist_flex {
  display: flex;
  flex-wrap: wrap;
  padding-left: 200px;
  padding-right: 200px;
  gap: 25px;
  justify-content: center;
}

.product_card {
  display: grid;
  position: relative;
  width: 200px;

  h2,
  p {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#sold_out {
  color: white;
  background-color: grey;
  position: absolute;
  top: -20px;
  padding: 5px;
}
#discount {
  color: black;
  background-color: yellow;
  position: absolute;
  right: 10px;
  top: -20px;
  padding: 5px;
}

/* PRODUCT SINGLE SINGLEVIEW SINGLE_VIEW PRODUKT PRODUCT_CARD PRODUCT CARD */

.single_view {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 500px;
  background-color: grey;
}

.single_view_product {
  object-fit: fill;
  place-self: center;
}
